<div class="container container--padded text-center">
  <div class="header">
    <%= image_tag("checkmark-circle.svg", width: "105px", class: "img--margin-bottom") %>

    <h1>Thank you for your feedback!</h1>

    <h4>We appreciate your feedback. We're always looking to improve and ensure that we're delivering the best possible experience. Our leadership team will review the aggregated monthly results and use this pulse as an indicator of how we're performing hosistically. Thanks again for your input!</h4>
  </div>
</div>
