<div class="container container--padded text-center">
  <div class="header">
    <%= image_tag("heart-icon.svg", width: "105px", class: "img--margin-bottom") %>

    <h1>Something went wrong!</h1>

    <h3>Hmm, something seems to have gone wrong. Looks like your response token is invalid.</h3>
  </div>
</div>
