<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profit</h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><strong>Revenue:</strong> <%= @project.revenue %></li>
        <li><strong>Costs:</strong> <%= @project.costs %></li>
        <li><strong>Profit:</strong> <%= @project.profit %></li>
      <ul>
    </div>
  </div>
</div>