@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datepicker3';

.filters {
  padding-top: 10px;
  margin-left: 50px;

  .datepicker {
    width: 100px;
  }

  label {
    font-weight: normal;
    margin-left: 10px;
  }

  .submit-button {
    margin-left: 10px;
  }
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.centered {
  text-align: center;
}

.allocation-percent {
  font-size: 10px;
}
